body {
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.664);
  font-family: 'Montserrat', sans-serif; }
  body nav ul li {
    background-color: #119105;
    border-radius: 1rem; }
    body nav ul li:hover {
      background-color: #3ce92c; }
  body nav ul .nav-link {
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-align: center; }
  body .main-home {
    display: grid;
    grid-template-areas: "carrusel" "texto" "imagen-logo";
    justify-items: center; }
    body .main-home div .carousel {
      grid-area: carrusel; }
    body .main-home .texto-home {
      margin-top: 20px;
      grid-area: texto;
      font-size: 15px;
      color: white;
      text-align: center; }
  body .main-turnos {
    display: grid;
    grid-template-areas: "texto1" "tabla" "texto2" "imagen-logo";
    justify-items: center; }
    body .main-turnos .texto-turnos1 {
      grid-area: texto1;
      font-size: 15px;
      color: white;
      text-align: center;
      margin-top: 15px; }
    body .main-turnos .table {
      grid-area: tabla;
      margin-top: 10px;
      margin-bottom: 10px;
      border-color: white;
      background-color: rgba(0, 0, 0, 0.664);
      margin-top: 15px; }
    body .main-turnos table tbody tr td {
      color: white;
      text-align: center;
      font-size: 7px; }
    body .main-turnos .texto-turnos2 {
      grid-area: texto2;
      font-size: 15px;
      color: white;
      text-align: center;
      margin-top: 15px; }
  body footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 20px; }

.img-logoclub {
  width: 80px; }

.imagen-logo {
  grid-area: imagen-logo;
  justify-self: center; }

/* MEDIA QUERIES */
@media screen and (min-width: 480px) {
  body nav {
    grid-area: nav; }
    body nav ul {
      justify-content: center;
      gap: 0.2rem; }
      body nav ul li {
        padding: 0.5rem; }
      body nav ul .nav-link {
        font-size: 13px; }
  body .main-turnos table tbody tr td {
    font-size: 12px; } }

@media screen and (min-width: 600px) {
  body nav ul {
    gap: 1rem; }
  body .main-turnos table tbody tr td {
    font-size: 15px; } }

@media screen and (min-width: 1024px) {
  body nav ul {
    gap: 3rem; }
    body nav ul li {
      border-radius: 1.5rem; }
    body nav ul .nav-link {
      font-size: 20px; }
  body .main-turnos .texto-turnos1 {
    font-size: 20px; }
  body .main-turnos table tbody tr td {
    font-size: 26px; }
  body .main-turnos .texto-turnos2 {
    font-size: 20px; } }
