body .main-contacto form .label-margin input, body .main-contacto form .label-margin select {
  background-color: white;
  color: black;
  border-radius: 3px;
  border: 0;
  height: 25px; }

body {
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.664);
  font-family: 'Montserrat', sans-serif; }
  body nav ul li {
    background-color: #119105;
    border-radius: 1rem; }
    body nav ul li:hover {
      background-color: #3ce92c; }
  body nav ul .nav-link {
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-align: center; }
  body .main-home {
    display: grid;
    grid-template-areas: "carrusel" "texto" "imagen-logo";
    justify-items: center; }
    body .main-home div .carousel {
      grid-area: carrusel; }
    body .main-home .texto-home {
      grid-area: texto;
      font-size: 15px;
      color: white;
      text-align: center;
      margin-top: 20px; }
  body .main-torneos {
    display: grid;
    grid-template-areas: "imagen1" "texto1" "imagen2" "texto2" "imagen3" "texto3" "imagen4" "texto4" "imagen5" "texto5" "imagen6" "texto6" "imagen7" "texto7" "imagen-logo" "boton";
    justify-items: center; }
    body .main-torneos .img-torneo1 {
      margin-top: 20px;
      justify-self: center;
      width: 300px;
      grid-area: imagen1; }
    body .main-torneos .texto-torneo1 {
      grid-area: texto1;
      font-size: 15px;
      color: white;
      text-align: center; }
    body .main-torneos .img-torneo2 {
      margin-top: 20px;
      justify-self: center;
      width: 300px;
      grid-area: imagen2; }
    body .main-torneos .texto-torneo2 {
      grid-area: texto2;
      font-size: 15px;
      color: white;
      text-align: center; }
    body .main-torneos .img-torneo3 {
      margin-top: 20px;
      justify-self: center;
      width: 300px;
      grid-area: imagen3; }
    body .main-torneos .texto-torneo3 {
      grid-area: texto3;
      font-size: 15px;
      color: white;
      text-align: center; }
    body .main-torneos .img-torneo4 {
      margin-top: 20px;
      justify-self: center;
      width: 300px;
      grid-area: imagen4; }
    body .main-torneos .texto-torneo4 {
      grid-area: texto4;
      font-size: 15px;
      color: white;
      text-align: center; }
    body .main-torneos .img-torneo5 {
      margin-top: 20px;
      justify-self: center;
      width: 300px;
      grid-area: imagen5; }
    body .main-torneos .texto-torneo5 {
      grid-area: texto5;
      font-size: 15px;
      color: white;
      text-align: center; }
    body .main-torneos .img-torneo6 {
      margin-top: 20px;
      justify-self: center;
      width: 300px;
      grid-area: imagen6; }
    body .main-torneos .texto-torneo6 {
      grid-area: texto6;
      font-size: 15px;
      color: white;
      text-align: center; }
    body .main-torneos .img-torneo7 {
      margin-top: 20px;
      justify-self: center;
      width: 300px;
      grid-area: imagen7; }
    body .main-torneos .texto-torneo7 {
      grid-area: texto7;
      font-size: 15px;
      color: white;
      text-align: center; }
    body .main-torneos .jugadores {
      margin-top: 10px; }
  body .main-turnos {
    display: grid;
    grid-template-areas: "texto1" "tabla" "texto2" "imagen-logo";
    justify-items: center; }
    body .main-turnos .texto-turnos1 {
      grid-area: texto1;
      font-size: 15px;
      color: white;
      text-align: center;
      margin-top: 15px; }
    body .main-turnos .table {
      grid-area: tabla;
      margin-top: 10px;
      margin-bottom: 10px;
      border-color: white;
      background-color: rgba(0, 0, 0, 0.664);
      margin-top: 15px; }
    body .main-turnos table tbody tr td {
      color: white;
      text-align: center;
      font-size: 7px; }
    body .main-turnos .texto-turnos2 {
      grid-area: texto2;
      font-size: 15px;
      color: white;
      text-align: center;
      margin-top: 15px; }
  body .main-clases {
    display: grid;
    grid-template-areas: "imagen" "texto1" "horarios" "texto2" "imagen-logo" "boton";
    justify-items: center; }
    body .main-clases .img-clases {
      width: 300px;
      justify-self: center;
      grid-area: imagen; }
    body .main-clases .texto-clases1 {
      grid-area: texto1;
      font-size: 15px;
      color: white;
      text-align: center;
      margin-top: 20px; }
    body .main-clases .horarios {
      grid-area: horarios;
      font-size: 15px;
      color: white;
      text-align: center;
      margin-top: 20px; }
      body .main-clases .horarios ul li {
        list-style: none; }
    body .main-clases .texto-clases2 {
      grid-area: texto2;
      font-size: 15px;
      color: white;
      text-align: center;
      margin-top: 20px; }
  body .main-contacto {
    display: grid;
    grid-template-areas: "formulario" "imagen-logo";
    justify-items: center; }
    body .main-contacto form {
      grid-area: formulario;
      color: white;
      font-size: 13px;
      margin: 20px; }
      body .main-contacto form legend {
        text-decoration: underline; }
      body .main-contacto form .label-margin {
        margin-top: 10px; }
      body .main-contacto form .botones {
        margin-top: 10px;
        margin-left: 35%; }
        body .main-contacto form .botones .button {
          background-color: black;
          font-family: 'Montserrat', sans-serif;
          color: white;
          border-radius: 0.8rem;
          width: 60px;
          height: 35px; }
          body .main-contacto form .botones .button:hover {
            background-color: #119105; }
  body .img-logoclub {
    width: 80px; }
  body .imagen-logo {
    grid-area: imagen-logo;
    justify-self: center; }
  body .volver {
    margin-top: 20px;
    grid-area: boton;
    color: white;
    text-decoration: underline; }
    body .volver:hover {
      color: #3ce92c; }
    body .volver:active {
      color: #119105; }
  body footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 20px; }

/* MEDIA QUERIES */
@media screen and (min-width: 480px) {
  body nav {
    grid-area: nav; }
    body nav ul {
      justify-content: center;
      gap: 0.2rem; }
      body nav ul li {
        padding: 0.5rem; }
      body nav ul .nav-link {
        font-size: 13px; }
  body .main-turnos table tbody tr td {
    font-size: 12px; }
  body .main-contacto form {
    font-size: 15px; }
    body .main-contacto form legend {
      font-size: 20px; }
    body .main-contacto form .label-margin input {
      font-size: 15px; }
    body .main-contacto form .label-margin select {
      font-size: 15px; } }

@media screen and (min-width: 600px) {
  body nav ul {
    gap: 1rem; }
  body .main-torneos .img-torneo1 {
    width: 500px; }
  body .main-torneos .img-torneo2 {
    width: 500px; }
  body .main-torneos .img-torneo3 {
    width: 500px; }
  body .main-torneos .img-torneo4 {
    width: 500px; }
  body .main-torneos .img-torneo5 {
    width: 500px; }
  body .main-torneos .img-torneo6 {
    width: 500px; }
  body .main-torneos .img-torneo7 {
    width: 500px; }
  body .main-turnos table tbody tr td {
    font-size: 15px; } }

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    justify-content: center; }
  body nav ul {
    gap: 3rem; }
    body nav ul li {
      border-radius: 1.5rem; }
    body nav ul .nav-link {
      font-size: 20px; }
  body .main-home .texto-home {
    font-size: 20px; }
  body .main-torneos {
    grid-template-areas: "imagen1 texto1" "texto2 imagen2" "imagen3 texto3" "texto4 imagen4" "imagen5 texto5" "texto6 imagen6" "imagen7 texto7" "imagen-logo imagen-logo" "boton boton"; }
    body .main-torneos .texto-torneo1 {
      font-size: 20px; }
    body .main-torneos .texto-torneo2 {
      font-size: 20px; }
    body .main-torneos .texto-torneo3 {
      font-size: 20px; }
    body .main-torneos .texto-torneo4 {
      font-size: 20px; }
    body .main-torneos .texto-torneo5 {
      font-size: 20px; }
    body .main-torneos .texto-torneo6 {
      font-size: 20px; }
    body .main-torneos .texto-torneo7 {
      font-size: 20px; }
  body .main-turnos .texto-turnos1 {
    font-size: 20px; }
  body .main-turnos table tbody tr td {
    font-size: 26px; }
  body .main-turnos .texto-turnos2 {
    font-size: 20px; }
  body .main-clases .img-clases {
    width: 400px; }
  body .main-clases .texto-clases1 {
    font-size: 20px; }
  body .main-clases .horarios {
    font-size: 20px; }
  body .main-clases .texto-clases2 {
    font-size: 20px; }
  body .main-contacto form {
    font-size: 20px; }
    body .main-contacto form legend {
      font-size: 25px; }
    body .main-contacto form .label-margin input {
      font-size: 20px; }
    body .main-contacto form .label-margin select {
      font-size: 20px; }
    body .main-contacto form .botones .button {
      font-size: 15px; } }
